# Virtual Enviornment
.venv/
/flask_session
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
*.log

# Database files
*.db

# IntelliJ project files
.idea
*.iml
out
gen

*./instance
static/docs/chatbot.log

instance/
/flask_session/
/static/uploads/
/static/docs/resume_builder.py
/server.py

.idea/
