# Virtual Enviornment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
*.log

# Database files
*.db

# IntelliJ project files
.idea
*.iml
out
gen

*./instance
static/docs/chatbot.log
/instance/
/static/uploads/
/static/docs/resume_builder.py

