datasets~=2.21.0
Flask[async]==3.0.3
flask-caching~=2.3.0
fpdf2==2.7.9
matplotlib==3.9.1
numpy==1.26.4
python-docx==1.1.2
python-json-logger==2.0.7
scipy==1.13.1
torch==2.4.0
transformers==4.43.3
werkzeug~=3.0.3
Flask-Limiter~=3.8.0
reportlab==4.2.2
pillow==10.4.0
gunicorn==23.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozen-flask~=1.0.2
pandas==2.2.2
psutil~=6.0.0
scikit-image==0.24.0
yfinance==0.2.41